.customShapeDividerTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.customShapeDividerTop svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 78px;
}

.customShapeDividerTop .shapeFill {
  fill: #000000;
}
