.customShapeDividerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.customShapeDividerBottom svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 78px;
}

.customShapeDividerBottom .shapeFill {
  fill: #00000077;
}
